# 02 - Data Understanding

In [1]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.1-bin-hadoop2.7/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/01 01:06:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# read in data
wash_df = spark.read.csv("WASH.csv",header=True)
death_df = spark.read.csv("unsafewaterdeathrate.csv",header=True)
gdp_df = spark.read.csv("gdp-per-capita-worldbank.csv",header=True)

In [3]:
wash_df.show()
wash_df.columns

+------+-----------+--------------+--------------+----+--------+---------------+--------------------+
|  Type|     Region|Residence Type|  Service Type|Year|Coverage|     Population|       Facility type|
+------+-----------+--------------+--------------+----+--------+---------------+--------------------+
|income|High income|         total|    Sanitation|2012| 3.16338| 37038978.07131|Improved latrine ...|
|income|High income|         rural|    Sanitation|2012| 7.33999| 17285014.10345|Improved latrine ...|
|income|High income|         urban|    Sanitation|2012|  1.8344| 17158559.65143|Improved latrine ...|
|income|High income|         total|    Sanitation|2012|13.44265|157395356.05516|         Septic tank|
|income|High income|         rural|    Sanitation|2012|33.11531| 77983549.58889|         Septic tank|
|income|High income|         urban|    Sanitation|2012| 7.74518| 72446427.17412|         Septic tank|
|income|High income|         total|    Sanitation|2012|82.65761|967809663.03964|               Sewer|
|income|High income|         rural|    Sanitation|2012|57.11532| 134501397.8857|               Sewer|
|income|High income|         urban|    Sanitation|2012|90.11413|842904803.83028|               Sewer|
|income|High income|         total|Drinking water|2012|  2.0877| 24444185.50476|  Non-piped improved|
|income|High income|         rural|Drinking water|2012| 5.96939| 14057374.48529|  Non-piped improved|
|income|High income|         urban|Drinking water|2012| 0.92841|  8684094.66973|  Non-piped improved|
|income|High income|         total|Drinking water|2012|97.25369|1138710104.5243|      Piped improved|
|income|High income|         rural|Drinking water|2012|92.33865|217449167.77821|      Piped improved|
|income|High income|         urban|Drinking water|2012|98.67697|922999436.24515|      Piped improved|
|income|High income|         total|    Sanitation|2013| 3.06076| 36049434.38297|Improved latrine ...|
|income|High income|         rural|    Sanitation|2013|  7.3612| 17288604.00337|Improved latrine ...|
|income|High income|         urban|    Sanitation|2013| 1.74713|  16474304.5455|Improved latrine ...|
|income|High income|         total|    Sanitation|2013|13.17215|155140739.87364|         Septic tank|
|income|High income|         rural|    Sanitation|2013|32.72778| 76864839.00911|         Septic tank|
+------+-----------+--------------+--------------+----+--------+---------------+--------------------+
only showing top 20 rows

['Type',
 'Region',
 'Residence Type',
 'Service Type',
 'Year',
 'Coverage',
 'Population',
 'Facility type']

In [5]:
death_df.show()
death_df.columns

+-----------+----+----+---------------------------------------------------------------------------------------------------------------------+
|     Entity|Code|Year|Share of total deaths that are from all causes attributed to unsafe water source, in both sexes aged age-standardized|
+-----------+----+----+---------------------------------------------------------------------------------------------------------------------+
|Afghanistan| AFG|1990|                                                                                                            1.0503434|
|Afghanistan| AFG|1991|                                                                                                            1.0454241|
|Afghanistan| AFG|1992|                                                                                                            1.0731887|
|Afghanistan| AFG|1993|                                                                                                            1.2799127|
|Afghanistan| AFG|1994|                                                                                                            1.1872201|
|Afghanistan| AFG|1995|                                                                                                            1.3289864|
|Afghanistan| AFG|1996|                                                                                                             1.299877|
|Afghanistan| AFG|1997|                                                                                                            1.3757354|
|Afghanistan| AFG|1998|                                                                                                            1.3842775|
|Afghanistan| AFG|1999|                                                                                                             1.484519|
|Afghanistan| AFG|2000|                                                                                                            1.4880726|
|Afghanistan| AFG|2001|                                                                                                            1.4634138|
|Afghanistan| AFG|2002|                                                                                                            1.4035218|
|Afghanistan| AFG|2003|                                                                                                            1.5093122|
|Afghanistan| AFG|2004|                                                                                                            1.4886155|
|Afghanistan| AFG|2005|                                                                                                            1.3961205|
|Afghanistan| AFG|2006|                                                                                                            1.2776254|
|Afghanistan| AFG|2007|                                                                                                            1.1575379|
|Afghanistan| AFG|2008|                                                                                                            1.0345142|
|Afghanistan| AFG|2009|                                                                                                            0.9303762|
+-----------+----+----+---------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

['Entity',
 'Code',
 'Year',
 'Share of total deaths that are from all causes attributed to unsafe water source, in both sexes aged age-standardized']

In [6]:
gdp_df.show()
gdp_df.columns

+-----------+----+----+---------------------------------------------------+
|     Entity|Code|Year|GDP per capita, PPP (constant 2017 international $)|
+-----------+----+----+---------------------------------------------------+
|Afghanistan| AFG|2002|                                          1280.4631|
|Afghanistan| AFG|2003|                                          1292.3335|
|Afghanistan| AFG|2004|                                          1260.0605|
|Afghanistan| AFG|2005|                                          1352.3207|
|Afghanistan| AFG|2006|                                          1366.9932|
|Afghanistan| AFG|2007|                                          1528.3446|
|Afghanistan| AFG|2008|                                          1556.8445|
|Afghanistan| AFG|2009|                                          1823.7426|
|Afghanistan| AFG|2010|                                          2026.1638|
|Afghanistan| AFG|2011|                                          1961.0963|
|Afghanistan| AFG|2012|                                          2122.8308|
|Afghanistan| AFG|2013|                                          2165.3408|
|Afghanistan| AFG|2014|                                          2144.4497|
|Afghanistan| AFG|2015|                                           2108.714|
|Afghanistan| AFG|2016|                                           2101.422|
|Afghanistan| AFG|2017|                                           2096.093|
|Afghanistan| AFG|2018|                                           2060.699|
|Afghanistan| AFG|2019|                                          2079.9219|
|Afghanistan| AFG|2020|                                           1968.341|
|Afghanistan| AFG|2021|                                          1516.3057|
+-----------+----+----+---------------------------------------------------+
only showing top 20 rows

['Entity',
 'Code',
 'Year',
 'GDP per capita, PPP (constant 2017 international $)']

In [8]:
wash_df.printSchema()

root
 |-- Type: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Residence Type: string (nullable = true)
 |-- Service Type: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Coverage: string (nullable = true)
 |-- Population: string (nullable = true)
 |-- Facility type: string (nullable = true)

In [9]:
death_df.printSchema()

root
 |-- Entity: string (nullable = true)
 |-- Code: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Share of total deaths that are from all causes attributed to unsafe water source, in both sexes aged age-standardized: string (nullable = true)

In [10]:
gdp_df.printSchema()

root
 |-- Entity: string (nullable = true)
 |-- Code: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- GDP per capita, PPP (constant 2017 international $): string (nullable = true)

# Data Manipulation

In [11]:
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)

In [ ]:
#